{% load static %}
{% block content %}
{% include 'header.html' %}
<!-- page header -->
<header id="home" class="header">
    <!-- <div class="overlay"></div> -->
    <div class="header-content container">
        <h1 class="header-title">
            <!-- <span class="up"></span> -->
       <center>    <span class="down">Registered user resume</span></center> 
        </h1>
        <!-- <p class="header-subtitle">registered user resume..</p>             -->

      <center> <a href="adminlogin"><button class="btn btn-primary">View user</button></a></center> 
    </div>              
</header><!-- end of page header -->

{% include 'footer.html' %}
{% endblock %}