{% load static %}
{% block content %}
{% include 'header.html' %}
<!-- page header -->
<header id="" class="header">
    <!-- <div class="overlay"></div> -->
    <div class="header-content container">
        <h1 class="header-title">
            <!-- <span class="up">Hellooo!</span> -->
            <center>  <span class="down">BUILD YOUR OWN RESUME!</span></center>
        </h1>
        <!-- <p class="header-subtitle"> build...</p>             -->

        <center><a href="personaldet"><button class="btn btn-primary">CREATE</button></a></center>
    </div>              
</header><!-- end of page header -->

{% include 'footer.html' %}
{% endblock %}